.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.form-group label {
    font-weight: bold;
}

body, html {
    height: 100%;
}

.form-title {
    margin-bottom: 20px;
}

.img-fluid {
    position: relative;
    animation: slideInLeft 1s ease-out;
}

@media (max-width: 991.98px) {
    .img-fluid {
        display: none;
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.form-container {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
